.my-blogs-container {
    padding: 20px;
}

.blogContent {
    display: flex;
    flex-direction: column;
}

.details {
    width: 1000px; /* Adjust the width as needed */
    border: 1px solid whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    padding: 20px;
}

.blog-img img {
    width: 100%;
    height: 500px; /* Adjust height as needed */
    border-radius: 5px;
}

.blog-title {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.author-date {
    display: inline-flex;
    margin-bottom: 12px;
    color: #4B5563;
    text-align: center;
}
