MONGO_URI=mongodb+srv://nodeuser:lXHA17OKvtJPL8@node.fnlzi.mongodb.net/dashboardapp

PORT=5000
CLOUDINARY_CLOUD_NAME=dggatk4xw
CLOUDINARY_API_KEY=859774846699349
CLOUDINARY_API_SECRET=YHaO2_I_-xHpCL71ymxYnDkaFro
